In [2]:
# importing the necessary libraries
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('data_interview_test.csv')

In [4]:
df.columns

Index(['receipt_id:company_id:matched_transaction_id:feature_transaction_id:DateMappingMatch:AmountMappingMatch:DescriptionMatch:DifferentPredictedTime:TimeMappingMatch:PredictedNameMatch:ShortNameMatch:DifferentPredictedDate:PredictedAmountMatch:PredictedTimeCloseMatch'], dtype='object')

In [5]:
df.shape

(12034, 1)

In [6]:
df.head(10)

                       receipt_id:company_id:matched_transaction_id:feature_transaction_id:DateMappingMatch:AmountMappingMatch:DescriptionMatch:DifferentPredictedTime:TimeMappingMatch:PredictedNameMatch:ShortNameMatch:DifferentPredictedDate:PredictedAmountMatch:PredictedTimeCloseMatch
10 000:10000:10 468:10  000:0.0000:0.0000:0.0000:1.0000:0.0000:0.0000:...
                468:10  001:0.0000:0.0000:0.0000:1.0000:0.0000:0.0000:...
                468:10  003:0.0000:0.0000:0.0000:1.0000:0.0000:0.0000:...
                468:10  004:0.0000:0.0000:0.0000:1.0000:0.0000:0.0000:...
                468:10  005:0.0000:0.0000:0.0000:1.0000:0.0000:0.0000:...
                468:10  006:0.0000:0.0000:0.0000:1.0000:0.0000:0.0000:...
                468:10  008:0.0000:0.0000:0.0000:1.0000:0.0000:0.0000:...
                468:10  009:0.0000:0.0000:0.0000:1.0000:0.0000:0.0000:...
                468:10  010:0.0000:0.0000:0.0000:1.0000:0.0000:0.0000:...
                468:10  011:0.0000:0.0000:0.0000:1.0000:0.0000:0.0000:...

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 12034 entries, (10, 000:10000:10, 468:10) to (50, 226:50000:50, 368:50)
Data columns (total 1 columns):
receipt_id:company_id:matched_transaction_id:feature_transaction_id:DateMappingMatch:AmountMappingMatch:DescriptionMatch:DifferentPredictedTime:TimeMappingMatch:PredictedNameMatch:ShortNameMatch:DifferentPredictedDate:PredictedAmountMatch:PredictedTimeCloseMatch    12034 non-null object
dtypes: object(1)
memory usage: 171.0+ KB

In [8]:
# Checking for the number of columns
for i in df.columns:
    print(len(i.split(':')))

14

In [9]:
# First splitting the values in the column based on ':'

for i in df.columns:
    column_names = i.split(':')

In [10]:
column_names

['receipt_id',
 'company_id',
 'matched_transaction_id',
 'feature_transaction_id',
 'DateMappingMatch',
 'AmountMappingMatch',
 'DescriptionMatch',
 'DifferentPredictedTime',
 'TimeMappingMatch',
 'PredictedNameMatch',
 'ShortNameMatch',
 'DifferentPredictedDate',
 'PredictedAmountMatch',
 'PredictedTimeCloseMatch']

In [11]:
# Splitting the values in rows on ':' 
df['list_col'] = df[df.columns[0]].str.split(':')

In [12]:
# Resetting the index to convert it from multiindex for easier accessibility
df = df.reset_index()

In [13]:
df.columns

Index(['level_0', 'level_1', 'level_2',
       'receipt_id:company_id:matched_transaction_id:feature_transaction_id:DateMappingMatch:AmountMappingMatch:DescriptionMatch:DifferentPredictedTime:TimeMappingMatch:PredictedNameMatch:ShortNameMatch:DifferentPredictedDate:PredictedAmountMatch:PredictedTimeCloseMatch',
       'list_col'],
      dtype='object')

In [14]:
column_names[3:14]

['feature_transaction_id',
 'DateMappingMatch',
 'AmountMappingMatch',
 'DescriptionMatch',
 'DifferentPredictedTime',
 'TimeMappingMatch',
 'PredictedNameMatch',
 'ShortNameMatch',
 'DifferentPredictedDate',
 'PredictedAmountMatch',
 'PredictedTimeCloseMatch']

In [15]:
# the first three columns should be renamed by the first three names in the column_names list 
# Splitting the list_col into new columns

df[column_names[3:14]] = pd.DataFrame(df.list_col.tolist(), index= df.index)

In [16]:
# Renaming the first three columns

df.rename(columns={'level_0':'receipt_id', 'level_1':'company_id', 'level_2':'matched_transaction_id'}, inplace=True)

In [17]:
df.columns

Index(['receipt_id', 'company_id', 'matched_transaction_id',
       'receipt_id:company_id:matched_transaction_id:feature_transaction_id:DateMappingMatch:AmountMappingMatch:DescriptionMatch:DifferentPredictedTime:TimeMappingMatch:PredictedNameMatch:ShortNameMatch:DifferentPredictedDate:PredictedAmountMatch:PredictedTimeCloseMatch',
       'list_col', 'feature_transaction_id', 'DateMappingMatch',
       'AmountMappingMatch', 'DescriptionMatch', 'DifferentPredictedTime',
       'TimeMappingMatch', 'PredictedNameMatch', 'ShortNameMatch',
       'DifferentPredictedDate', 'PredictedAmountMatch',
       'PredictedTimeCloseMatch'],
      dtype='object')

In [18]:
# Dropping off the columns which are already processed to create new columns

df = df[column_names]

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12034 entries, 0 to 12033
Data columns (total 14 columns):
receipt_id                 12034 non-null int64
company_id                 12034 non-null object
matched_transaction_id     12034 non-null object
feature_transaction_id     12034 non-null object
DateMappingMatch           12034 non-null object
AmountMappingMatch         12034 non-null object
DescriptionMatch           12034 non-null object
DifferentPredictedTime     12034 non-null object
TimeMappingMatch           12034 non-null object
PredictedNameMatch         12034 non-null object
ShortNameMatch             12034 non-null object
DifferentPredictedDate     12034 non-null object
PredictedAmountMatch       12034 non-null object
PredictedTimeCloseMatch    12034 non-null object
dtypes: int64(1), object(13)
memory usage: 1.3+ MB

In [20]:
# group by receipt id and member_id and create a list of all the elements in feature if matched in feature then, success else non-success

# Splitting the matched transaction id based on the ':'

df['rc_id_mtch_ftr_id'] = df['matched_transaction_id'].str.split(':')

In [21]:
# The 'rc_id_mtch_ftr_id' column contains the receipt id and feature transaction id

# First check if the receipt id matches and there're no anolmalies
# Then check for the transaction id using the logic:
# group by receipt id and member_id and create a list of all the elements in feature if matched in feature then, success else non-success

In [22]:
# check if the receipt id matches and there're no discrepancies

df['rc_id_mtch_ftr_id'][1]

['468', '10']

In [23]:
# The first value in the list contains the transaction id and the second element contains the receipt id
df['matched_receipt_id'] = df['rc_id_mtch_ftr_id'].apply(lambda x: x[1])

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12034 entries, 0 to 12033
Data columns (total 16 columns):
receipt_id                 12034 non-null int64
company_id                 12034 non-null object
matched_transaction_id     12034 non-null object
feature_transaction_id     12034 non-null object
DateMappingMatch           12034 non-null object
AmountMappingMatch         12034 non-null object
DescriptionMatch           12034 non-null object
DifferentPredictedTime     12034 non-null object
TimeMappingMatch           12034 non-null object
PredictedNameMatch         12034 non-null object
ShortNameMatch             12034 non-null object
DifferentPredictedDate     12034 non-null object
PredictedAmountMatch       12034 non-null object
PredictedTimeCloseMatch    12034 non-null object
rc_id_mtch_ftr_id          12034 non-null object
matched_receipt_id         12034 non-null object
dtypes: int64(1), object(15)
memory usage: 1.5+ MB

In [25]:
# Since, the matched receipt id is object, converting it to int

df['matched_receipt_id'] = df['matched_receipt_id'].astype(int)

In [26]:
df[df['receipt_id'] != df['matched_receipt_id']]

,receipt_id,company_id,matched_transaction_id,feature_transaction_id,DateMappingMatch,AmountMappingMatch,DescriptionMatch,DifferentPredictedTime,TimeMappingMatch,PredictedNameMatch,ShortNameMatch,DifferentPredictedDate,PredictedAmountMatch,PredictedTimeCloseMatch,rc_id_mtch_ftr_id,matched_receipt_id
4741,30,002:30000:30,592:31,298,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[592, 31]",31
4742,30,002:30000:30,592:31,299,0.0000,0.0000,0.8000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[592, 31]",31
4743,30,002:30000:30,592:31,303,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[592, 31]",31
4744,30,002:30000:30,592:31,310,0.6500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[592, 31]",31
4769,30,004:30000:31,109:31,098,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[109, 31]",31
4770,30,004:30000:31,109:31,099,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[109, 31]",31
4771,30,004:30000:31,109:31,100,0.0000,0.4000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[109, 31]",31
4772,30,004:30000:31,109:31,101,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[109, 31]",31
4773,30,004:30000:31,109:31,104,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[109, 31]",31
4774,30,004:30000:31,109:31,105,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,1.0000,"[109, 31]",31
4775,30,004:30000:31,109:31,107,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[109, 31]",31
4776,30,004:30000:31,109:31,108,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,"[109, 31]",31
4777,30,004:30000:31,109:31,109,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[109, 31]",31
4778,30,004:30000:31,109:31,110,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[109, 31]",31
4784,30,006:30000:31,446:31,438,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[446, 31]",31
4785,30,006:30000:31,446:31,441,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[446, 31]",31
4786,30,006:30000:31,446:31,443,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[446, 31]",31
4787,30,006:30000:31,446:31,444,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[446, 31]",31
4788,30,006:30000:31,446:31,445,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[446, 31]",31
4789,30,006:30000:31,446:31,446,0.9500,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,1.0000,"[446, 31]",31
4790,30,006:30000:31,446:31,447,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[446, 31]",31
4791,30,006:30000:31,446:31,448,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[446, 31]",31
4792,30,007:30000:31,056:31,051,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[056, 31]",31
4793,30,007:30000:31,056:31,052,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[056, 31]",31
4794,30,007:30000:31,056:31,053,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[056, 31]",31
4795,30,007:30000:31,056:31,054,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[056, 31]",31
4796,30,007:30000:31,056:31,055,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[056, 31]",31
4797,30,007:30000:31,056:31,056,0.9500,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,1.0000,"[056, 31]",31
4798,30,007:30000:31,056:31,057,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[056, 31]",31
4799,30,007:30000:31,056:31,058,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[056, 31]",31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9574,30,389:30000:31,444:31,448,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[444, 31]",31
9590,30,393:30000:31,463:31,443,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[463, 31]",31
9591,30,393:30000:31,463:31,444,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[463, 31]",31
9592,30,393:30000:31,463:31,445,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,1.0000,"[463, 31]",31
9593,30,393:30000:31,463:31,446,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[463, 31]",31
9594,30,393:30000:31,463:31,447,0.0000,0.6000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[463, 31]",31
9595,30,393:30000:31,463:31,448,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[463, 31]",31
9596,30,393:30000:31,463:31,449,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[463, 31]",31
9597,30,393:30000:31,463:31,450,0.0000,0.6000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[463, 31]",31
9598,30,393:30000:31,463:31,451,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[463, 31]",31
9599,30,393:30000:31,463:31,452,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[463, 31]",31
9600,30,393:30000:31,463:31,453,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[463, 31]",31
9601,30,393:30000:31,463:31,454,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[463, 31]",31
9602,30,393:30000:31,463:31,455,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[463, 31]",31
9603,30,393:30000:31,463:31,456,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[463, 31]",31
9604,30,393:30000:31,463:31,457,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[463, 31]",31
9605,30,393:30000:31,463:31,458,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[463, 31]",31
9606,30,393:30000:31,463:31,459,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[463, 31]",31
9607,30,393:30000:31,463:31,460,0.8500,0.0000,0.6000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[463, 31]",31
9608,30,393:30000:31,463:31,461,0.8500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[463, 31]",31
9609,30,393:30000:31,463:31,462,0.8500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[463, 31]",31
9610,30,393:30000:31,463:31,463,0.8500,0.0000,0.6000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,"[463, 31]",31
9611,30,393:30000:31,463:31,464,0.8500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[463, 31]",31
9612,30,393:30000:31,463:31,465,0.8500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[463, 31]",31
9613,30,393:30000:31,463:31,466,0.8500,0.0000,0.6000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[463, 31]",31
9614,30,393:30000:31,463:31,467,0.8500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[463, 31]",31
9628,30,396:30000:31,246:31,241,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[246, 31]",31
9629,30,396:30000:31,246:31,244,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,"[246, 31]",31
9630,30,396:30000:31,246:31,245,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[246, 31]",31
9631,30,396:30000:31,246:31,246,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,"[246, 31]",31

#### There are 820 records where the receipt id extracted does not match with the exact receipt id

In [27]:
# Extracting the transaction_id from the matched_transaction_id column

df['mtchd_trnx_id'] = df['rc_id_mtch_ftr_id'].apply(lambda x: x[0])

In [28]:
df[(df['mtchd_trnx_id']==df['feature_transaction_id']) & (df['matched_receipt_id']==df['receipt_id'])]

,receipt_id,company_id,matched_transaction_id,feature_transaction_id,DateMappingMatch,AmountMappingMatch,DescriptionMatch,DifferentPredictedTime,TimeMappingMatch,PredictedNameMatch,ShortNameMatch,DifferentPredictedDate,PredictedAmountMatch,PredictedTimeCloseMatch,rc_id_mtch_ftr_id,matched_receipt_id,mtchd_trnx_id
25,10,001:10000:10,605:10,605,0.9000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[605, 10]",10,605
27,10,002:10000:10,286:10,286,0.9500,0.0000,0.0000,1.0000,0.0000,0.8000,0.0000,0.0000,0.0000,0.0000,"[286, 10]",10,286
38,10,003:10000:10,412:10,412,0.8500,0.0000,0.0000,1.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,"[412, 10]",10,412
73,10,005:10000:10,474:10,474,0.9000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[474, 10]",10,474
105,10,007:10000:10,360:10,360,0.8500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[360, 10]",10,360
138,10,009:10000:10,484:10,484,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,"[484, 10]",10,484
153,10,010:10000:10,405:10,405,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[405, 10]",10,405
170,10,011:10000:10,659:10,659,0.9500,0.0000,0.0000,1.0000,0.0000,0.6000,0.0000,0.0000,0.0000,1.0000,"[659, 10]",10,659
173,10,012:10000:10,256:10,256,0.8500,0.0000,0.0000,1.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,"[256, 10]",10,256
207,10,014:10000:10,650:10,650,0.8500,0.0000,0.0000,1.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,"[650, 10]",10,650
210,10,015:10000:10,713:10,713,0.9500,0.0000,0.0000,0.0000,1.0000,0.0000,1.0000,0.0000,0.0000,1.0000,"[713, 10]",10,713
232,10,017:10000:10,504:10,504,0.9500,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,1.0000,"[504, 10]",10,504
244,10,018:10000:10,400:10,400,0.8500,0.0000,0.0000,1.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,"[400, 10]",10,400
255,10,019:10000:10,649:10,649,0.8500,0.0000,0.8000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[649, 10]",10,649
262,10,020:10000:10,683:10,683,0.9500,0.0000,0.0000,0.0000,1.0000,0.8000,1.0000,0.0000,0.0000,1.0000,"[683, 10]",10,683
267,10,021:10000:10,112:10,112,0.9500,0.0000,0.0000,1.0000,0.0000,0.6000,0.0000,0.0000,0.0000,0.0000,"[112, 10]",10,112
278,10,022:10000:10,404:10,404,0.9500,0.0000,0.0000,1.0000,0.0000,0.6000,1.0000,0.0000,0.0000,0.0000,"[404, 10]",10,404
281,10,023:10000:10,255:10,255,0.9500,0.0000,0.0000,1.0000,0.0000,0.6000,1.0000,0.0000,0.0000,0.0000,"[255, 10]",10,255
302,10,024:10000:10,332:10,332,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[332, 10]",10,332
312,10,025:10000:10,324:10,324,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[324, 10]",10,324
317,10,026:10000:10,508:10,508,0.9000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[508, 10]",10,508
351,10,028:10000:10,279:10,279,0.8500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[279, 10]",10,279
356,10,029:10000:10,574:10,574,0.8500,0.0000,0.8000,0.0000,1.0000,0.0000,1.0000,0.0000,0.0000,1.0000,"[574, 10]",10,574
361,10,030:10000:10,676:10,676,0.8500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,"[676, 10]",10,676
375,10,031:10000:10,561:10,561,0.8500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[561, 10]",10,561
385,10,032:10000:10,302:10,302,0.8500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[302, 10]",10,302
388,10,033:10000:10,140:10,140,0.9500,0.0000,0.8000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[140, 10]",10,140
402,10,034:10000:10,556:10,556,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,"[556, 10]",10,556
408,10,035:10000:10,371:10,371,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[371, 10]",10,371
410,10,036:10000:10,444:10,444,0.9500,0.0000,0.8000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[444, 10]",10,444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11782,50,188:50000:50,137:50,137,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,"[137, 50]",50,137
11792,50,189:50000:50,338:50,338,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,"[338, 50]",50,338
11795,50,190:50000:50,247:50,247,0.9000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[247, 50]",50,247
11806,50,191:50000:50,047:50,047,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[047, 50]",50,047
11810,50,192:50000:50,067:50,067,0.9000,0.0000,0.8000,1.0000,0.0000,0.8000,1.0000,0.0000,0.0000,0.0000,"[067, 50]",50,067
11814,50,193:50000:50,222:50,222,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[222, 50]",50,222
11818,50,194:50000:50,096:50,096,0.9500,0.0000,0.4000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[096, 50]",50,096
11843,50,196:50000:50,365:50,365,0.8500,0.0000,0.8000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,"[365, 50]",50,365
11849,50,197:50000:50,167:50,167,0.9500,0.0000,0.4000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[167, 50]",50,167
11850,50,198:50000:50,251:50,251,0.9500,0.0000,0.4000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[251, 50]",50,251
11854,50,199:50000:50,075:50,075,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,"[075, 50]",50,075
11863,50,200:50000:50,099:50,099,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,"[099, 50]",50,099
11870,50,201:50000:50,100:50,100,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,"[100, 50]",50,100
11874,50,202:50000:50,126:50,126,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[126, 50]",50,126
11877,50,203:50000:50,280:50,280,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,"[280, 50]",50,280
11883,50,204:50000:50,143:50,143,0.9000,0.0000,0.8000,1.0000,0.0000,0.8000,1.0000,0.0000,0.0000,0.0000,"[143, 50]",50,143
11888,50,205:50000:50,150:50,150,0.9500,0.4000,0.0000,1.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,"[150, 50]",50,150
11893,50,208:50000:50,236:50,236,0.9000,0.0000,0.8000,1.0000,0.0000,0.8000,1.0000,0.0000,0.0000,0.0000,"[236, 50]",50,236
11896,50,209:50000:50,219:50,219,0.9500,0.4000,0.0000,1.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,"[219, 50]",50,219
11900,50,210:50000:50,165:50,165,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,"[165, 50]",50,165
11926,50,215:50000:50,203:50,203,0.9500,0.0000,0.4000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[203, 50]",50,203
11938,50,216:50000:50,341:50,341,0.9500,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,1.0000,"[341, 50]",50,341
11945,50,217:50000:50,097:50,097,0.9000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[097, 50]",50,097
11969,50,219:50000:50,173:50,173,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,"[173, 50]",50,173
11973,50,220:50000:50,363:50,363,0.9500,0.0000,0.4000,1.0000,0.0000,0.8000,1.0000,0.0000,0.0000,1.0000,"[363, 50]",50,363
11975,50,221:50000:50,034:50,034,0.8500,0.0000,0.0000,1.0000,0.0000,0.6000,0.0000,0.0000,0.0000,1.0000,"[034, 50]",50,034
11980,50,222:50000:50,244:50,244,0.9500,0.0000,0.6000,1.0000,0.0000,0.6000,0.0000,0.0000,0.0000,0.0000,"[244, 50]",50,244
11993,50,223:50000:50,342:50,342,0.9500,0.4000,0.0000,0.0000,1.0000,0.0000,1.0000,0.0000,0.0000,1.0000,"[342, 50]",50,342
12006,50,224:50000:50,050:50,050,0.9500,0.0000,0.4000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,"[050, 50]",50,050
12033,50,226:50000:50,368:50,368,0.9500,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,"[368, 50]",50,368

In [29]:
# There are 788 records which are success

# Creating a new column with a success value as 1 when the receipt id and the transaction id match else 0

df['Success'] = np.where((df['mtchd_trnx_id']==df['feature_transaction_id']) & (df['matched_receipt_id']==df['receipt_id']), 1, 0)

In [30]:
# Groupby receipt and feature_transaction_id, sort by Success value and then, drop the success column
df = df.groupby(['receipt_id', 'feature_transaction_id']).apply(lambda x: x.sort_values(by='Success', ascending=False)).drop('Success', axis=1)

In [31]:
df

                                         receipt_id    company_id  \
receipt_id feature_transaction_id
10         000                    0              10  000:10000:10
                                  1448           10  135:10000:10
                                  1510           10  141:10000:10
                                  1530           10  143:10000:10
                                  1550           10  144:10000:10
                                  1570           10  145:10000:10
                                  1629           10  150:10000:10
                                  1710           10  157:10000:10
                                  1752           10  161:10000:10
                                  1781           10  164:10000:10
                                  1834           10  167:10000:10
                                  1865           10  170:10000:10
                                  1885           10  171:10000:10
                                  1926           10  175:10000:10
                                  1973           10  180:10000:10
                                  1993           10  182:10000:10
                                  2056           10  188:10000:10
                                  2106           10  195:10000:10
                                  2129           10  197:10000:10
                                  2167           10  200:10000:10
                                  2200           10  203:10000:10
                                  2235           10  209:10000:10
                                  2255           10  210:10000:10
                                  2265           10  211:10000:10
                                  2285           10  212:10000:10
                                  1470           10  137:10000:10
                                  1382           10  130:10000:10
                                  42             10  004:10000:10
                                  1355           10  128:10000:10
                                  77             10  006:10000:10
...                                             ...           ...
50         367                    11978          50  221:50000:50
                                  12032          50  226:50000:50
           368                    12033          50  226:50000:50
                                  10678          50  009:50000:50
                                  10876          50  044:50000:50
                                  10970          50  058:50000:50
                                  11857          50  199:50000:50
           369                    10679          50  009:50000:50
                                  10877          50  044:50000:50
           370                    11577          50  157:50000:50
           376                    11444          50  132:50000:50
                                  11638          50  168:50000:50
           377                    11445          50  132:50000:50
                                  11639          50  168:50000:50
           378                    10812          50  033:50000:50
           379                    10813          50  033:50000:50
           407                    11134          50  089:50000:50
                                  11078          50  079:50000:50
           408                    11079          50  079:50000:50
                                  11135          50  089:50000:50
           409                    11080          50  079:50000:50
                                  11136          50  089:50000:50
           410                    11081          50  079:50000:50
                                  11137          50  089:50000:50
           411                    11082          50  079:50000:50
                                  11138          50  089:50000:50
           412                    11083          50  079:50000:50
                                  11139          50  089:50000:50
           413                    11084          50  079:50000:50
                                  11140          50  089:50000:50

                                        matched_transaction_id  \
receipt_id feature_transaction_id
10         000                    0                     468:10
                                  1448                  313:10
                                  1510                  599:10
                                  1530                  655:10
                                  1550                  465:10
                                  1570                  275:10
                                  1629                  308:10
                                  1710                  618:10
                                  1752                  562:10
                                  1781                  525:10
                                  1834                  544:10
                                  1865                  506:10
                                  1885                  529:10
                                  1926                  581:10
                                  1973                  663:10
                                  1993                  701:10
                                  2056                  697:10
                                  2106                  124:10
                                  2129                  480:10
                                  2167                  408:10
                                  2200                  265:10
                                  2235                  125:10
                                  2255                  314:10
                                  2265                  631:10
                                  2285                  342:10
                                  1470                  297:10
                                  1382                  577:10
                                  42                    413:10
                                  1355                  517:10
                                  77                    217:10
...                                                        ...
50         367                    11978                 034:50
                                  12032                 368:50
           368                    12033                 368:50
                                  10678                 153:50
                                  10876                 113:50
                                  10970                 074:50
                                  11857                 075:50
           369                    10679                 153:50
                                  10877                 113:50
           370                    11577                 263:50
           376                    11444                 376:50
                                  11638                 378:50
           377                    11445                 376:50
                                  11639                 378:50
           378                    10812                 379:50
           379                    10813                 379:50
           407                    11134                 407:50
                                  11078                 408:50
           408                    11079                 408:50
                                  11135                 407:50
           409                    11080                 408:50
                                  11136                 407:50
           410                    11081                 408:50
                                  11137                 407:50
           411                    11082                 408:50
                                  11138                 407:50
           412                    11083                 408:50
                                  11139                 407:50
           413                    11084                 408:50
                                  11140                 407:50

                                        feature_transaction_id  \
receipt_id feature_transaction_id
10         000                    0                        000
                                  1448                     000
                                  1510                     000
                                  1530                     000
                                  1550                     000
                                  1570                     000
                                  1629                     000
                                  1710                     000
                                  1752                     000
                                  1781                     000
                                  1834                     000
                                  1865                     000
                                  1885                     000
                                  1926                     000
                                  1973                     000
                                  1993                     000
                                  2056                     000
                                  2106                     000
                                  2129                     000
                                  2167                     000
                                  2200                     000
                                  2235                     000
                                  2255                     000
                                  2265                     000
                                  2285                     000
                                  1470                     000
                                  1382                     000
                                  42                       000
                                  1355                     000
                                  77                       000
...                                                        ...
50         367                    11978                    367
                                  12032                    367
           368                    12033                    368
                                  10678                    368
                                  10876                    368
                                  10970                    368
                                  11857                    368
           369                    10679                    369
                                  10877                    369
           370                    11577                    370
           376                    11444                    376
                                  11638                    376
           377                    11445                    377
                                  11639                    377
           378                    10812                    378
           379                    10813                    379
           407                    11134                    407
                                  11078                    407
           408                    11079                    408
                                  11135                    408
           409                    11080                    409
                                  11136                    409
           410                    11081                    410
                                  11137                    410
           411                    11082                    411
                                  11138                    411
           412                    11083                    412
                                  11139                    412
           413                    11084                    413
                                  11140                    413

                                        DateMappingMatch AmountMappingMatch  \
receipt_id feature_transaction_id
10         000                    0               0.0000             0.0000
                                  1448            0.5500             0.0000
                                  1510            0.0000             0.0000
                                  1530            0.0000             0.0000
                                  1550            0.0000             0.0000
                                  1570            0.0000             0.0000
                                  1629            0.0000             0.0000
                                  1710            0.0000             0.0000
                                  1752            0.0000             0.0000
                                  1781            0.0000             0.0000
                                  1834            0.0000             0.0000
                                  1865            0.0000             0.0000
                                  1885            0.0000             0.0000
                                  1926            0.0000             0.0000
                                  1973            0.0000             0.0000
                                  1993            0.0000             0.0000
                                  2056            0.0000             0.0000
                                  2106            0.0000             0.0000
                                  2129            0.0000             0.0000
                                  2167            0.0000             0.0000
                                  2200            0.0000             0.0000
                                  2235            0.0000             0.0000
                                  2255            0.5500             0.0000
                                  2265            0.0000             0.0000
                                  2285            0.0000             0.0000
                                  1470            0.0000             0.0000
                                  1382            0.0000             0.0000
                                  42              0.0000             0.0000
                                  1355            0.0000             0.0000
                                  77              0.0000             0.0000
...                                                  ...                ...
50         367                    11978           0.5500             0.0000
                                  12032           0.0000             0.0000
           368                    12033           0.9500             0.0000
                                  10678           0.0000             0.0000
                                  10876           0.0000             0.0000
                                  10970           0.6500             0.0000
                                  11857           0.6500             0.0000
           369                    10679           0.0000             0.0000
                                  10877           0.6500             0.0000
           370                    11577           0.0000             0.0000
           376                    11444           0.9000             0.0000
                                  11638           0.9500             0.0000
           377                    11445           0.9000             0.4000
                                  11639           0.9500             0.0000
           378                    10812           0.9500             0.0000
           379                    10813           0.9500             0.4000
           407                    11134           0.8500             0.0000
                                  11078           0.8500             0.0000
           408                    11079           0.8500             0.0000
                                  11135           0.8500             0.0000
           409                    11080           0.8500             0.0000
                                  11136           0.8500             0.0000
           410                    11081           0.8500             0.4000
                                  11137           0.8500             0.0000
           411                    11082           0.8500             0.0000
                                  11138           0.8500             0.0000
           412                    11083           0.8500             0.0000
                                  11139           0.8500             0.0000
           413                    11084           0.8500             0.0000
                                  11140           0.8500             0.0000

                                        DescriptionMatch  \
receipt_id feature_transaction_id
10         000                    0               0.0000
                                  1448            0.0000
                                  1510            0.0000
                                  1530            0.0000
                                  1550            0.0000
                                  1570            0.0000
                                  1629            0.0000
                                  1710            0.0000
                                  1752            0.0000
                                  1781            0.0000
                                  1834            0.0000
                                  1865            0.0000
                                  1885            0.0000
                                  1926            0.0000
                                  1973            0.0000
                                  1993            0.0000
                                  2056            0.0000
                                  2106            0.0000
                                  2129            0.0000
                                  2167            0.0000
                                  2200            0.0000
                                  2235            0.0000
                                  2255            0.0000
                                  2265            0.0000
                                  2285            0.0000
                                  1470            0.0000
                                  1382            0.0000
                                  42              0.0000
                                  1355            0.0000
                                  77              0.0000
...                                                  ...
50         367                    11978           0.0000
                                  12032           0.0000
           368                    12033           0.0000
                                  10678           0.0000
                                  10876           0.0000
                                  10970           0.0000
                                  11857           0.0000
           369                    10679           0.0000
                                  10877           0.0000
           370                    11577           0.0000
           376                    11444           0.0000
                                  11638           0.0000
           377                    11445           0.0000
                                  11639           0.0000
           378                    10812           0.0000
           379                    10813           0.0000
           407                    11134           0.0000
                                  11078           0.0000
           408                    11079           0.0000
                                  11135           0.0000
           409                    11080           0.0000
                                  11136           0.0000
           410                    11081           0.0000
                                  11137           0.0000

In [33]:
df.columns

17

In [36]:
# Dropping the unnecessary columns

df = df[column_names]

In [37]:
df

                                         receipt_id    company_id  \
receipt_id feature_transaction_id
10         000                    0              10  000:10000:10
                                  1448           10  135:10000:10
                                  1510           10  141:10000:10
                                  1530           10  143:10000:10
                                  1550           10  144:10000:10
                                  1570           10  145:10000:10
                                  1629           10  150:10000:10
                                  1710           10  157:10000:10
                                  1752           10  161:10000:10
                                  1781           10  164:10000:10
                                  1834           10  167:10000:10
                                  1865           10  170:10000:10
                                  1885           10  171:10000:10
                                  1926           10  175:10000:10
                                  1973           10  180:10000:10
                                  1993           10  182:10000:10
                                  2056           10  188:10000:10
                                  2106           10  195:10000:10
                                  2129           10  197:10000:10
                                  2167           10  200:10000:10
                                  2200           10  203:10000:10
                                  2235           10  209:10000:10
                                  2255           10  210:10000:10
                                  2265           10  211:10000:10
                                  2285           10  212:10000:10
                                  1470           10  137:10000:10
                                  1382           10  130:10000:10
                                  42             10  004:10000:10
                                  1355           10  128:10000:10
                                  77             10  006:10000:10
...                                             ...           ...
50         367                    11978          50  221:50000:50
                                  12032          50  226:50000:50
           368                    12033          50  226:50000:50
                                  10678          50  009:50000:50
                                  10876          50  044:50000:50
                                  10970          50  058:50000:50
                                  11857          50  199:50000:50
           369                    10679          50  009:50000:50
                                  10877          50  044:50000:50
           370                    11577          50  157:50000:50
           376                    11444          50  132:50000:50
                                  11638          50  168:50000:50
           377                    11445          50  132:50000:50
                                  11639          50  168:50000:50
           378                    10812          50  033:50000:50
           379                    10813          50  033:50000:50
           407                    11134          50  089:50000:50
                                  11078          50  079:50000:50
           408                    11079          50  079:50000:50
                                  11135          50  089:50000:50
           409                    11080          50  079:50000:50
                                  11136          50  089:50000:50
           410                    11081          50  079:50000:50
                                  11137          50  089:50000:50
           411                    11082          50  079:50000:50
                                  11138          50  089:50000:50
           412                    11083          50  079:50000:50
                                  11139          50  089:50000:50
           413                    11084          50  079:50000:50
                                  11140          50  089:50000:50

                                        matched_transaction_id  \
receipt_id feature_transaction_id
10         000                    0                     468:10
                                  1448                  313:10
                                  1510                  599:10
                                  1530                  655:10
                                  1550                  465:10
                                  1570                  275:10
                                  1629                  308:10
                                  1710                  618:10
                                  1752                  562:10
                                  1781                  525:10
                                  1834                  544:10
                                  1865                  506:10
                                  1885                  529:10
                                  1926                  581:10
                                  1973                  663:10
                                  1993                  701:10
                                  2056                  697:10
                                  2106                  124:10
                                  2129                  480:10
                                  2167                  408:10
                                  2200                  265:10
                                  2235                  125:10
                                  2255                  314:10
                                  2265                  631:10
                                  2285                  342:10
                                  1470                  297:10
                                  1382                  577:10
                                  42                    413:10
                                  1355                  517:10
                                  77                    217:10
...                                                        ...
50         367                    11978                 034:50
                                  12032                 368:50
           368                    12033                 368:50
                                  10678                 153:50
                                  10876                 113:50
                                  10970                 074:50
                                  11857                 075:50
           369                    10679                 153:50
                                  10877                 113:50
           370                    11577                 263:50
           376                    11444                 376:50
                                  11638                 378:50
           377                    11445                 376:50
                                  11639                 378:50
           378                    10812                 379:50
           379                    10813                 379:50
           407                    11134                 407:50
                                  11078                 408:50
           408                    11079                 408:50
                                  11135                 407:50
           409                    11080                 408:50
                                  11136                 407:50
           410                    11081                 408:50
                                  11137                 407:50
           411                    11082                 408:50
                                  11138                 407:50
           412                    11083                 408:50
                                  11139                 407:50
           413                    11084                 408:50
                                  11140                 407:50

                                        feature_transaction_id  \
receipt_id feature_transaction_id
10         000                    0                        000
                                  1448                     000
                                  1510                     000
                                  1530                     000
                                  1550                     000
                                  1570                     000
                                  1629                     000
                                  1710                     000
                                  1752                     000
                                  1781                     000
                                  1834                     000
                                  1865                     000
                                  1885                     000
                                  1926                     000
                                  1973                     000
                                  1993                     000
                                  2056                     000
                                  2106                     000
                                  2129                     000
                                  2167                     000
                                  2200                     000
                                  2235                     000
                                  2255                     000
                                  2265                     000
                                  2285                     000
                                  1470                     000
                                  1382                     000
                                  42                       000
                                  1355                     000
                                  77                       000
...                                                        ...
50         367                    11978                    367
                                  12032                    367
           368                    12033                    368
                                  10678                    368
                                  10876                    368
                                  10970                    368
                                  11857                    368
           369                    10679                    369
                                  10877                    369
           370                    11577                    370
           376                    11444                    376
                                  11638                    376
           377                    11445                    377
                                  11639                    377
           378                    10812                    378
           379                    10813                    379
           407                    11134                    407
                                  11078                    407
           408                    11079                    408
                                  11135                    408
           409                    11080                    409
                                  11136                    409
           410                    11081                    410
                                  11137                    410
           411                    11082                    411
                                  11138                    411
           412                    11083                    412
                                  11139                    412
           413                    11084                    413
                                  11140                    413

                                        DateMappingMatch AmountMappingMatch  \
receipt_id feature_transaction_id
10         000                    0               0.0000             0.0000
                                  1448            0.5500             0.0000
                                  1510            0.0000             0.0000
                                  1530            0.0000             0.0000
                                  1550            0.0000             0.0000
                                  1570            0.0000             0.0000
                                  1629            0.0000             0.0000
                                  1710            0.0000             0.0000
                                  1752            0.0000             0.0000
                                  1781            0.0000             0.0000
                                  1834            0.0000             0.0000
                                  1865            0.0000             0.0000
                                  1885            0.0000             0.0000
                                  1926            0.0000             0.0000
                                  1973            0.0000             0.0000
                                  1993            0.0000             0.0000
                                  2056            0.0000             0.0000
                                  2106            0.0000             0.0000
                                  2129            0.0000             0.0000
                                  2167            0.0000             0.0000
                                  2200            0.0000             0.0000
                                  2235            0.0000             0.0000
                                  2255            0.5500             0.0000
                                  2265            0.0000             0.0000
                                  2285            0.0000             0.0000
                                  1470            0.0000             0.0000
                                  1382            0.0000             0.0000
                                  42              0.0000             0.0000
                                  1355            0.0000             0.0000
                                  77              0.0000             0.0000
...                                                  ...                ...
50         367                    11978           0.5500             0.0000
                                  12032           0.0000             0.0000
           368                    12033           0.9500             0.0000
                                  10678           0.0000             0.0000
                                  10876           0.0000             0.0000
                                  10970           0.6500             0.0000
                                  11857           0.6500             0.0000
           369                    10679           0.0000             0.0000
                                  10877           0.6500             0.0000
           370                    11577           0.0000             0.0000
           376                    11444           0.9000             0.0000
                                  11638           0.9500             0.0000
           377                    11445           0.9000             0.4000
                                  11639           0.9500             0.0000
           378                    10812           0.9500             0.0000
           379                    10813           0.9500             0.4000
           407                    11134           0.8500             0.0000
                                  11078           0.8500             0.0000
           408                    11079           0.8500             0.0000
                                  11135           0.8500             0.0000
           409                    11080           0.8500             0.0000
                                  11136           0.8500             0.0000
           410                    11081           0.8500             0.4000
                                  11137           0.8500             0.0000
           411                    11082           0.8500             0.0000
                                  11138           0.8500             0.0000
           412                    11083           0.8500             0.0000
                                  11139           0.8500             0.0000
           413                    11084           0.8500             0.0000
                                  11140           0.8500             0.0000

                                        DescriptionMatch  \
receipt_id feature_transaction_id
10         000                    0               0.0000
                                  1448            0.0000
                                  1510            0.0000
                                  1530            0.0000
                                  1550            0.0000
                                  1570            0.0000
                                  1629            0.0000
                                  1710            0.0000
                                  1752            0.0000
                                  1781            0.0000
                                  1834            0.0000
                                  1865            0.0000
                                  1885            0.0000
                                  1926            0.0000
                                  1973            0.0000
                                  1993            0.0000
                                  2056            0.0000
                                  2106            0.0000
                                  2129            0.0000
                                  2167            0.0000
                                  2200            0.0000
                                  2235            0.0000
                                  2255            0.0000
                                  2265            0.0000
                                  2285            0.0000
                                  1470            0.0000
                                  1382            0.0000
                                  42              0.0000
                                  1355            0.0000
                                  77              0.0000
...                                                  ...
50         367                    11978           0.0000
                                  12032           0.0000
           368                    12033           0.0000
                                  10678           0.0000
                                  10876           0.0000
                                  10970           0.0000
                                  11857           0.0000
           369                    10679           0.0000
                                  10877           0.0000
           370                    11577           0.0000
           376                    11444           0.0000
                                  11638           0.0000
           377                    11445           0.0000
                                  11639           0.0000
           378                    10812           0.0000
           379                    10813           0.0000
           407                    11134           0.0000
                                  11078           0.0000
           408                    11079           0.0000
                                  11135           0.0000
           409                    11080           0.0000
                                  11136           0.0000
           410                    11081           0.0000
                                  11137           0.0000

In [39]:
# function for the model that takes in the file location and spits out a csv with Success matching at the top 

def preprocess(filelocation):
    """
    Input - filelocation, file type should be a csv
    Output - A dataframe with the correct transaction if exists at the top
    
    """
    # Converting the csv file to pandas dataframe
    df = pd.read_csv('data_interview_test.csv')
    
    # First splitting the column names on ':'

    for i in df.columns:
        column_names = i.split(':')
        
    # Splitting the values in rows on ':' 
    
    df['list_col'] = df[df.columns[0]].str.split(':')
    
    # Resetting the index to convert it from multiindex for easier accessibility
    
    df = df.reset_index()
    
    # the first three columns should be renamed by the first three names in the column_names list 
    # Splitting the list_col into new columns
    
    df[column_names[3:14]] = pd.DataFrame(df.list_col.tolist(), index= df.index)
    
    # Renaming the first three columns

    df.rename(columns={'level_0':'receipt_id', 'level_1':'company_id', 'level_2':'matched_transaction_id'}, inplace=True)
    
    # Dropping off the columns which are already processed to create new columns

    df = df[column_names]
    
    # Splitting the matched transaction id based on the ':'

    df['rc_id_mtch_ftr_id'] = df['matched_transaction_id'].str.split(':')
    
    # The first value in the list contains the transaction id and the second element contains the receipt id
    
    df['matched_receipt_id'] = df['rc_id_mtch_ftr_id'].apply(lambda x: x[1])
    
    # Since, the matched receipt id is object, converting it to int

    df['matched_receipt_id'] = df['matched_receipt_id'].astype(int)
    
    # Extracting the transaction_id from the matched_transaction_id column

    df['mtchd_trnx_id'] = df['rc_id_mtch_ftr_id'].apply(lambda x: x[0])

    # Creating a new column with a success value as 1 when the receipt id and the transaction id match else 0

    df['Success'] = np.where((df['mtchd_trnx_id']==df['feature_transaction_id']) & (df['matched_receipt_id']==df['receipt_id']), 1, 0)
    
    # Groupby receipt and feature_transaction_id, sort by Success value and then, drop the success column
    
    df = df.groupby(['receipt_id', 'feature_transaction_id']).apply(lambda x: x.sort_values(by='Success', ascending=False)).drop('Success', axis=1)
    
    # Dropping the unnecessary columns

    df = df[column_names]
    
    # Returning a dataframe 
    
    return df

In [40]:
df2 = preprocess('data_interview_test.csv')

In [41]:
df2

                                         receipt_id    company_id  \
receipt_id feature_transaction_id
10         000                    0              10  000:10000:10
                                  1448           10  135:10000:10
                                  1510           10  141:10000:10
                                  1530           10  143:10000:10
                                  1550           10  144:10000:10
                                  1570           10  145:10000:10
                                  1629           10  150:10000:10
                                  1710           10  157:10000:10
                                  1752           10  161:10000:10
                                  1781           10  164:10000:10
                                  1834           10  167:10000:10
                                  1865           10  170:10000:10
                                  1885           10  171:10000:10
                                  1926           10  175:10000:10
                                  1973           10  180:10000:10
                                  1993           10  182:10000:10
                                  2056           10  188:10000:10
                                  2106           10  195:10000:10
                                  2129           10  197:10000:10
                                  2167           10  200:10000:10
                                  2200           10  203:10000:10
                                  2235           10  209:10000:10
                                  2255           10  210:10000:10
                                  2265           10  211:10000:10
                                  2285           10  212:10000:10
                                  1470           10  137:10000:10
                                  1382           10  130:10000:10
                                  42             10  004:10000:10
                                  1355           10  128:10000:10
                                  77             10  006:10000:10
...                                             ...           ...
50         367                    11978          50  221:50000:50
                                  12032          50  226:50000:50
           368                    12033          50  226:50000:50
                                  10678          50  009:50000:50
                                  10876          50  044:50000:50
                                  10970          50  058:50000:50
                                  11857          50  199:50000:50
           369                    10679          50  009:50000:50
                                  10877          50  044:50000:50
           370                    11577          50  157:50000:50
           376                    11444          50  132:50000:50
                                  11638          50  168:50000:50
           377                    11445          50  132:50000:50
                                  11639          50  168:50000:50
           378                    10812          50  033:50000:50
           379                    10813          50  033:50000:50
           407                    11134          50  089:50000:50
                                  11078          50  079:50000:50
           408                    11079          50  079:50000:50
                                  11135          50  089:50000:50
           409                    11080          50  079:50000:50
                                  11136          50  089:50000:50
           410                    11081          50  079:50000:50
                                  11137          50  089:50000:50
           411                    11082          50  079:50000:50
                                  11138          50  089:50000:50
           412                    11083          50  079:50000:50
                                  11139          50  089:50000:50
           413                    11084          50  079:50000:50
                                  11140          50  089:50000:50

                                        matched_transaction_id  \
receipt_id feature_transaction_id
10         000                    0                     468:10
                                  1448                  313:10
                                  1510                  599:10
                                  1530                  655:10
                                  1550                  465:10
                                  1570                  275:10
                                  1629                  308:10
                                  1710                  618:10
                                  1752                  562:10
                                  1781                  525:10
                                  1834                  544:10
                                  1865                  506:10
                                  1885                  529:10
                                  1926                  581:10
                                  1973                  663:10
                                  1993                  701:10
                                  2056                  697:10
                                  2106                  124:10
                                  2129                  480:10
                                  2167                  408:10
                                  2200                  265:10
                                  2235                  125:10
                                  2255                  314:10
                                  2265                  631:10
                                  2285                  342:10
                                  1470                  297:10
                                  1382                  577:10
                                  42                    413:10
                                  1355                  517:10
                                  77                    217:10
...                                                        ...
50         367                    11978                 034:50
                                  12032                 368:50
           368                    12033                 368:50
                                  10678                 153:50
                                  10876                 113:50
                                  10970                 074:50
                                  11857                 075:50
           369                    10679                 153:50
                                  10877                 113:50
           370                    11577                 263:50
           376                    11444                 376:50
                                  11638                 378:50
           377                    11445                 376:50
                                  11639                 378:50
           378                    10812                 379:50
           379                    10813                 379:50
           407                    11134                 407:50
                                  11078                 408:50
           408                    11079                 408:50
                                  11135                 407:50
           409                    11080                 408:50
                                  11136                 407:50
           410                    11081                 408:50
                                  11137                 407:50
           411                    11082                 408:50
                                  11138                 407:50
           412                    11083                 408:50
                                  11139                 407:50
           413                    11084                 408:50
                                  11140                 407:50

                                        feature_transaction_id  \
receipt_id feature_transaction_id
10         000                    0                        000
                                  1448                     000
                                  1510                     000
                                  1530                     000
                                  1550                     000
                                  1570                     000
                                  1629                     000
                                  1710                     000
                                  1752                     000
                                  1781                     000
                                  1834                     000
                                  1865                     000
                                  1885                     000
                                  1926                     000
                                  1973                     000
                                  1993                     000
                                  2056                     000
                                  2106                     000
                                  2129                     000
                                  2167                     000
                                  2200                     000
                                  2235                     000
                                  2255                     000
                                  2265                     000
                                  2285                     000
                                  1470                     000
                                  1382                     000
                                  42                       000
                                  1355                     000
                                  77                       000
...                                                        ...
50         367                    11978                    367
                                  12032                    367
           368                    12033                    368
                                  10678                    368
                                  10876                    368
                                  10970                    368
                                  11857                    368
           369                    10679                    369
                                  10877                    369
           370                    11577                    370
           376                    11444                    376
                                  11638                    376
           377                    11445                    377
                                  11639                    377
           378                    10812                    378
           379                    10813                    379
           407                    11134                    407
                                  11078                    407
           408                    11079                    408
                                  11135                    408
           409                    11080                    409
                                  11136                    409
           410                    11081                    410
                                  11137                    410
           411                    11082                    411
                                  11138                    411
           412                    11083                    412
                                  11139                    412
           413                    11084                    413
                                  11140                    413

                                        DateMappingMatch AmountMappingMatch  \
receipt_id feature_transaction_id
10         000                    0               0.0000             0.0000
                                  1448            0.5500             0.0000
                                  1510            0.0000             0.0000
                                  1530            0.0000             0.0000
                                  1550            0.0000             0.0000
                                  1570            0.0000             0.0000
                                  1629            0.0000             0.0000
                                  1710            0.0000             0.0000
                                  1752            0.0000             0.0000
                                  1781            0.0000             0.0000
                                  1834            0.0000             0.0000
                                  1865            0.0000             0.0000
                                  1885            0.0000             0.0000
                                  1926            0.0000             0.0000
                                  1973            0.0000             0.0000
                                  1993            0.0000             0.0000
                                  2056            0.0000             0.0000
                                  2106            0.0000             0.0000
                                  2129            0.0000             0.0000
                                  2167            0.0000             0.0000
                                  2200            0.0000             0.0000
                                  2235            0.0000             0.0000
                                  2255            0.5500             0.0000
                                  2265            0.0000             0.0000
                                  2285            0.0000             0.0000
                                  1470            0.0000             0.0000
                                  1382            0.0000             0.0000
                                  42              0.0000             0.0000
                                  1355            0.0000             0.0000
                                  77              0.0000             0.0000
...                                                  ...                ...
50         367                    11978           0.5500             0.0000
                                  12032           0.0000             0.0000
           368                    12033           0.9500             0.0000
                                  10678           0.0000             0.0000
                                  10876           0.0000             0.0000
                                  10970           0.6500             0.0000
                                  11857           0.6500             0.0000
           369                    10679           0.0000             0.0000
                                  10877           0.6500             0.0000
           370                    11577           0.0000             0.0000
           376                    11444           0.9000             0.0000
                                  11638           0.9500             0.0000
           377                    11445           0.9000             0.4000
                                  11639           0.9500             0.0000
           378                    10812           0.9500             0.0000
           379                    10813           0.9500             0.4000
           407                    11134           0.8500             0.0000
                                  11078           0.8500             0.0000
           408                    11079           0.8500             0.0000
                                  11135           0.8500             0.0000
           409                    11080           0.8500             0.0000
                                  11136           0.8500             0.0000
           410                    11081           0.8500             0.4000
                                  11137           0.8500             0.0000
           411                    11082           0.8500             0.0000
                                  11138           0.8500             0.0000
           412                    11083           0.8500             0.0000
                                  11139           0.8500             0.0000
           413                    11084           0.8500             0.0000
                                  11140           0.8500             0.0000

                                        DescriptionMatch  \
receipt_id feature_transaction_id
10         000                    0               0.0000
                                  1448            0.0000
                                  1510            0.0000
                                  1530            0.0000
                                  1550            0.0000
                                  1570            0.0000
                                  1629            0.0000
                                  1710            0.0000
                                  1752            0.0000
                                  1781            0.0000
                                  1834            0.0000
                                  1865            0.0000
                                  1885            0.0000
                                  1926            0.0000
                                  1973            0.0000
                                  1993            0.0000
                                  2056            0.0000
                                  2106            0.0000
                                  2129            0.0000
                                  2167            0.0000
                                  2200            0.0000
                                  2235            0.0000
                                  2255            0.0000
                                  2265            0.0000
                                  2285            0.0000
                                  1470            0.0000
                                  1382            0.0000
                                  42              0.0000
                                  1355            0.0000
                                  77              0.0000
...                                                  ...
50         367                    11978           0.0000
                                  12032           0.0000
           368                    12033           0.0000
                                  10678           0.0000
                                  10876           0.0000
                                  10970           0.0000
                                  11857           0.0000
           369                    10679           0.0000
                                  10877           0.0000
           370                    11577           0.0000
           376                    11444           0.0000
                                  11638           0.0000
           377                    11445           0.0000
                                  11639           0.0000
           378                    10812           0.0000
           379                    10813           0.0000
           407                    11134           0.0000
                                  11078           0.0000
           408                    11079           0.0000
                                  11135           0.0000
           409                    11080           0.0000
                                  11136           0.0000
           410                    11081           0.0000
                                  11137           0.0000

# The algorithm is successful as we can see all the correct transactions for a receipt id and transaction id seem to be at the top of the list

## for example : For receipt id 50 and transaction id 368, there are two transactions associated but the correct one is seen at the top as the receipt id and transaction id both are matched correctly